{#
/**
 * @file program_schedule.html.twig
 * Default theme implementation to present Program schedule data.
 *
 * This template is used when viewing Program schedule pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_program_schedule()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('program_schedule') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
